h1{
    font-family: 'Satisfy', cursive;
}
/* navbar */
.navbar-default {
    background-color: orange;
    border-color: orange;
}
/* Title */
.navbar-default .navbar-brand {
    color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: orange;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: orange;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: orange;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: orange;
    background-color: orange;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: orange;
    background-color: orange;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: orange;
    border-bottom-color: orange;
}