{% block content %}
{% macro displayBlog (blogs) %}
{% for blog in blogs %}
<div class="panel panel-default">
    <div class="panel-body">
      <h2>{{blog.title}}</h2>
      <p>{{blog.content}}</p>
      <p> {{blog.posted}}</p>  
       <p><strong>posted by: {{blog.user.username}}</strong></p>
    </div>
</div>

 {% endfor %}

{% endmacro %}

{% macro displayComment (comments) %}
{% for comment in comments %}
<div class="container">
  <div class="container-fluid">
    <p>{{comment.comment}}</p>
    <p>{{comment.user.username}}</p>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>

{% endfor %}

{% endmacro %}
{% endblock %}